@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "YoungSerif";
    src: url("../fonts/YoungSerif-Regular.ttf");
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    margin: 0;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    background-color: var(--stone-100);
    padding: 80px;
    color: var(--stone-600);
    line-height: 1.8;
}
a {
    color: #90284f;
}
a:hover {
    color: hsl(338, 57%, 54%);
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5){
    font-family: 'YoungSerif', sans-serif; 
    line-height: 1.2;   
    font-weight: 500;
}

h1 {
    color: var(--stone-900);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0;
}

h2 {
    color: var(--brown-800);
}

.wrapper {
    width: 736px;
    max-width: 100%;
    display: table;
    margin: auto;
    background-color: var(--white);
    padding: 40px;
    border-radius: 20px;
}

:is(main) ul, ol {
    padding-left: 20px;
}

:is(ul, ol) li {
    line-height: 1.4;
    margin-bottom: 10px;
    padding-left: 14px;
}

.featured-image {
    width: 100%;
    height: auto;
    max-width: 736px;
}

ol > li::marker {
    font-weight: bold;
    color: var(--brown-800);
}

.attribution {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

.prep-time {
    background-color: var(--rose-50);
    padding: 20px 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.prep-time h3{
    margin-top: 0;
    color: var(--rose-800);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

hr.solid {
    border-top: 1px solid #e8e8e8;
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
    border-collapse: collapse; /* Collapsing borders */
    width: 100%;
}

tr {
    border-bottom: 1px solid #e8e8e8;
}

tr:last-child {
    border-bottom: 0 ;
}

td {
    padding: 10px 40px;
}

td:nth-child(2) {
    font-weight: bold;
    color: var(--brown-800);
}
.mobile-img {
    display: none;
}

@media only screen and (max-width: 767px) {
    body {
        padding: 40px;
    }

    h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 436px) {
    body {
        padding: 0;
    }
    .wrapper {
        padding: 30px;
        border-radius: 0;
    }
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }

    h1 {
        margin-top: 10px;
    }

    .attribution {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}